<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>QT❤️</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'><link rel="stylesheet" href="static/css/drag.css">

</head>
<body>
<div class="paper heart">
</div>


<div class="paper image">
  <p> and can look like</p>
    <p> an angel😍 </p>
   <img src="static/images/2.jpg" />
</div>

<div class="paper image3">
  <p>and Sooo adorable</p>
  <img src="static/images/3.jpg" />
</div>

<div class="paper image">
  <p>How can someone </p>
   <p> be so sweet ❤️ </p>

  <img src="static/images/1.jpg" />
</div>



<div class="paper red">
<p class="p1"> and Yes U R My Favorite</p>
<p class="p2">Person 🫣</p>
</div>

<div class="paper">
<p class="p1">Your smile isn’t just beautiful  </p>
  <p class="p1">it’s the kind that makes everything else seem a little less important.<span style="color: red !important;">❤️</span></p>
</div>

<div class="paper">
<p class="p1">Hey espléndido💙
</p>
<p>
  Keep smiling and shining, because the world is better with you in it.
</p>
</div>
<!-- partial -->
  <script  src="static/js/app.js"></script>
  <script  src="static/js/mobile.js"></script>


</body>
</html>